
/* CSS for Header/Body/Footer */

/* White bar at the top across the whole screen */
.headerMargins {
    background-color: white;
    border-bottom: 2px solid #cccccc;
    margin: auto;
    margin-bottom: 35px;
    width: 100%;
    height: 63px;
}

/* Box encapsulating 'name' and 'topnav' */
.headerNav {
    margin: auto;
    width: 960px;
    height: 63px;
    padding-right: 0px;
}

/* Box encapsulating 3 nav links */
.topnav {
    background-color: white;
    overflow: hidden;
    color: #777777;
    padding-right: 0px;
    float: right;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: black;
    text-align: left;
    padding: 22px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: georgia;
    color: #777777;
    margin: 0px;
    height: 19px;
}

/* Change the color of the links on hover */
.topnav a:hover {
    background-color: #4aaaa5;
    color: white;
}

/* Add a color to the active/current link */
/* .topnav a.links {
    background-color: #4CAF50;
    color: white;
} */

/* Box encapsulating name */
.name {
    float: left;
    color: white;
    padding: 18px 16px;
    text-decoration: none;
    font-family: georgia;
    background-color: #4aaaa5;
    margin: 0px;
}

body {
    background-image: url("../images/subtle_grunge.png");
    margin: 0px;
}

.bodyMargins {
    margin: auto;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border: 1px solid #dddddd;
    width: 920px;
    margin-bottom: 150px;
}

.sectionH2 {
    color: #4aaaa5;
    font-family: georgia;
}

.footerMargins {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #f2f2f2;
    text-align: center;
    font-family: arial;
    font-size: 10px;
    padding-top: 15px;
    padding-bottom: 1px;
    border-top: 8px solid #4aaaa5;
}

/*  ============================================== */

/* CSS for About Me body */

.meImg {
    float: left;
    margin: 0px 20px 20px 0px;
}

.wrappedP {
    text-align: justify;
}


/*  ============================================== */

/* CSS for Portfolio body */

/* Big box encapsulating portfolio pictures */
.bigBox {
    position: relative;
    height: 700px;
    margin-top: 25px;
}

.picBox {
    position: absolute;
    height: 200px;
    width: 200px;
}

.picLabels {
    height: 50px;
    width: 200px;
    background-color: #4aaaa5;
    color: white;
    font-size: 20px;
    line-height: 50px;
    margin-top: 135px;
    position: relative;
    text-align: center;
    padding: auto;
}

.row1 {
    
    
}

.row2 {
    top: 240px;

}

.row3 {
    top: 480px;

}

.col1 {

}

.col2 {
    left: 235px;

}

/* IDs for the background pictures of each portfolio item */
#Hangman {
    background-image: url("../images/PortfolioPic1.jpg");
}

#RPG {
    background-image: url("../images/PortfolioPic2.jpg");
}

#Trivia {
    background-image: url("../images/PortfolioPic3.jpg");
}

#Rutgers {
    background-image: url("../images/PorftolioPic4.jpg");
}

#Rock {
    background-image: url("../images/PortfolioPic5.jpg");
}

/* CSS for Contact body */

.labels {
    
}